<a href="https://colab.research.google.com/github/Apoorva-K-N/Application-of-python-programming-in-DA-and-ML/blob/master/Day_1_session_2_Example_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Python Program to find the factorial of a number using loop.

In [1]:

n=int(input("Enter number:"))
fact=1

while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:4
Factorial of the number is:
24


2.Python Program to reverse a number using loop

In [2]:
r=0
n=int(input("Enter a number: "))
while(n>0):
    dig=n%10
    r=r*10+dig
    n=n//10
print("The reversed no  is:")
print(r)

Enter a number: 568764
The reversed no  is:
467865


3.Write a Python program to construct the following pattern, using a nested for loop.

In [3]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*


4.Python Program to replace all occurrences of ‘a’ with ‘$’ in a string

In [4]:
string=input("Enter string:")
string=string.replace('a','$')
string=string.replace('A','$')
print("Modified string:")
print(string)

Enter string:apoorva
Modified string:
$poorv$


5.Python Program to remove the nth index character from a non-empty string.

In [6]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:i love lpython
Enter the index of the character to remove:7
Modified string:
i love python


6.Python Program to detect if two strings are anagrams.

In [7]:

s1=input("Enter first string:")
s2=input("Enter second string:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

Enter first string:Apoorva
Enter second string:apoorva
The strings aren't anagrams.


7.Python Program to form a string where the first character and the last character have been exchanged.

In [8]:
def change(string):
      return string[-1:] + string[1:-1] + string[:1]
string=input("Enter string:")
print("Modified string:")
print(change(string))

Enter string:python
Modified string:
nythop


8.Python Program to count number of vowels from a non-empty string. string=input("Enter string:")

In [9]:

vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Number of vowels are:
1


9.Program for Divide by zero error detection

In [10]:

flag = True

def div(a, b):  
       try:
            print("Finally the division of %d/%d is %f" % (a, b,a/b))
            global flag
            flag=False
       except ZeroDivisionError:
            print("Zero Division Error detected")
       else:
            print("Division is successful") 
       finally:
            if flag is True:
               print("Try again")     
            else:
               print("Thank you")
       
#global flag

while flag is True:
    div(int(input("Enter numerator")),int(input("Enter denominator")))

Enter numerator20
Enter denominator4
Finally the division of 20/4 is 5.000000
Division is successful
Thank you

10.Program for ValueError error detection

In [12]:

while True:
     try:
         x = int(input("Please enter a number: "))
         print(" That was valid number. Thank you")
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: j2
Oops!  That was no valid number.  Try again...
Please enter a number: 32
 That was valid number. Thank you